CLIENT_GATEWAY_PORT=3000

PAYMENTS_MS_PORT=3003
##PUBLIC KEY pk_test_51QFdoPRwwinK1oxLV4zvrseXdHidgMpWXkiUDdom903BvJLuoIX5QQOnLE92dB9sJlRRnxJsoxkZdOpaA5sQJka400ofjCQez3
## https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET=
STRIPE_SUCCESS_URL=http://localhost:3000/payments/success
STRIPE_CANCEL_URL=http://localhost:3000/payments/cancel
# testing
# STRIPE_ENDPOINT_SECRET = 'whsec_fc59d5c5eb7d0f5456f393e48cc134711f6e9f66d683a2de495ec03abfde98a0';
# prod
STRIPE_ENDPOINT_SECRET=